In [3]:
import pandas as pd
from IPython.display import display

df = pd.read_csv("Student_Mental_Health_Academic_Pressure_2025.csv")

shape_df = pd.DataFrame({
    "Rows": [df.shape[0]],
    "Columns": [df.shape[1]]
})
display(shape_df)

first_five_df = df.head(5)
display(first_five_df)

first_five_df.to_excel("student_first_5_records.xlsx", index=False)

columns_df = pd.DataFrame({
    "Column Name": df.columns
})
display(columns_df)

dtypes_df = pd.DataFrame({
    "Column Name": df.columns,
    "Data Type": df.dtypes.values
})
display(dtypes_df)

   Rows  Columns
0    33        8

,Timestamp,Age Group,Gender\n,Current Education Level,How much academic pressure do you feel?,How often do you feel stressed due to studies?,How many hours do you sleep on average per night?,What is the main cause of your academic stress?
0,12/13/2025 6:18,15–18,Female,College,4,Sometimes,7–8,1 .Exam and grades pressure
1,12/13/2025 6:24,15–18,Male,College,4,Often,5–6,Exams and Grades Pressure
2,12/13/2025 6:29,15–18,Female,University,3,Sometimes,7–8,financial conditions
3,12/13/2025 7:36,27+,Male,Other,1,Always,7–8,Other
4,12/13/2025 8:01,15–18,Female,College,2,Sometimes,5–6,Prefer not to say

                                         Column Name
0                                          Timestamp
1                                          Age Group
2                                         Gender\n
3                          Current Education Level
4          How much academic pressure do you feel?
5     How often do you feel stressed due to studies?
6    How many hours do you sleep on average per n...
7    What is the main cause of your academic stre...

                                         Column Name Data Type
0                                          Timestamp    object
1                                          Age Group    object
2                                         Gender\n      object
3                          Current Education Level      object
4          How much academic pressure do you feel?       int64
5     How often do you feel stressed due to studies?    object
6    How many hours do you sleep on average per n...    object
7    What is the main cause of your academic stre...    object